﻿
@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminLogin</h2>

<form method="post" action="~/User/AdminLogin">
    <span style="color:red"> @ViewBag.error </span><br />
    Login : <input class="form-control" type="text" id="txtLogin" name="txtLogin" />
    Password : <input class="form-control" type="password" id="txtPassword" name="txtPassword" />
    <br /><input class="btn-block" type="submit" value="Login" id="btnLogin" name="btnLogin" />
    <br /><input class="btn-block" type="submit" value="Cancel" id="cancel" name="cancel" />
</form>