﻿
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>AdminHome</h2>

<center>

    <div class="container">
        <h2>Users List</h2>
        <form method="get" action="~/User/AdminLogin">
            <input class="btn-block" type="submit" name="logout" id="logout" value="Log Out" />
        </form>
        <table class="table table-bordered" style="background-color:white;" id="pTable">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Login </th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Gender </th>
                    <th>DOB</th>
                    <th>NIC</th>
                    <th>Hockey </th>
                    <th>Cricket</th>
                    <th>Chess</th>
                    
                    <th>Edit </th>
                   
                </tr>
            </thead>
            <tbody>
               
                    @{

                        for (int i = 0; i < ViewBag.arr.Count; i++)
                        {
                            <form method="post" action="~/User/AdminHome">
                                <input type="hidden" id="login" name="login" value="@ViewBag.arr[i].login" />
                                <tr>
                                    <td>@ViewBag.arr[i].id</td>
                                    <td>@ViewBag.arr[i].login </td>
                                    <td>@ViewBag.arr[i].name</td>
                                    <td>@ViewBag.arr[i].address</td>
                                    <td>@ViewBag.arr[i].age</td>
                                    <td>@ViewBag.arr[i].gender </td>
                                    <td>@ViewBag.arr[i].dob</td>
                                    <td>@ViewBag.arr[i].NIC</td>
                                    <td>@ViewBag.arr[i].Hockey </td>
                                    <td>@ViewBag.arr[i].cricket</td>
                                    <td>@ViewBag.arr[i].chess</td>


                                    <td><input type="submit" id="edit" name="edit" value="Edit"></td>

                                </tr>
                            </form>

                        }
                    }




                          
            </tbody>
        </table>
    </div>

</center>