﻿
@{
    ViewBag.Title = "Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Code here </h2>
<form method="post" action="~/User/Code">
    Code : <input class="form-control" type="text" id="code" name="code" required/>
    <br /><input class="btn-block" type="submit" value="Go" id="codeBtn" name="codeBtn" />

</form>

