﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script{
    <script>
    function closeTab() {
        close();
    }
    </script> }
<h2>Main Screen</h2>

<form action="@Url.Content("~/User/Index")" method="post">
    <div>
        <input class="btn btn-block" type="submit" id="newUser" name="newUser" value="New User" /><br />
        <input class="btn btn-block"  type="submit" id="exUser" name="exUser" value="Existing User" /> <br />
        <input class="btn btn-block" type="submit" id="admin" name="admin" value="Admin" /><br />
       
    </div>
  
</form>
<button style="width:280px"class="btn btn-default" id="exit" name="exit" value="Exit" onclick="closeTab();">Exit</button> <br />

