﻿
@{
    ViewBag.Title = "LoginScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
   <script>
       
       $(document).ready(function () {


           $('#reset').click(function (e) {

               if ($('#email').val().length == 0) {
                   alert("Please fill the email");
                   return false;
               }
               if ($('#txtLogin').val().length == 0) {
                   alert("Please fill the login");
                   return false;
               }
           });
       });
       function validate()
       {
           var flag = true;
           if ($('#txtLogin').val().length==0) {
               alert("Please fill the login");
               return false;
           }
          
           
          return true;
       }
    </script> 
}
<h2>LoginScreen</h2>

<form method="post" action="~/User/LoginScreen" onsubmit="return validate();">

    <span style="color:red"> @ViewBag.error </span><br />
    Login : <input class="form-control" type="text" id="txtLogin" name="txtLogin" /> 
    Password : <input class="form-control" type="password" id="txtPassword" name="txtPassword" /> 
    <br/><input class="btn-block" type="submit" value="Login" id="btnLogin" name="btnLogin" /> 
    <br /><a href="~/User/Index"> <input class="form-control" style="display:inline" type="button" id="cancel" name="cancel" value="Cancel" /></a>
    Forgot Password?
    <br />
    Email: <input class="form-control" type="email" id="email" name="email" />  
    <br /><input class="btn-block" type="submit" value="Reset Password" id="reset" name="reset"  /> 
</form>

