﻿
@section script
{
   <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#myImg')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
                };

                reader.readAsDataURL(input.files[0]);
         
            }
        }
    function isDateSelected() {
        var today = new Date();
        var inputDate = new Date(document.getElementById('dob').value);
        if (inputDate.value == "") {
            return false;
        } else if (inputDate > today) {
            return false;
        } else {
            return true;
        }
    }
    $(document).ready(function () {


        
        $('input[type="radio"]').each(function () {
            $(this).hasClass('checked') ? $(this).prop('checked', true) : $(this).prop('checked', false);
        });
        $('#male').click(function () {
            if ($(this).hasClass('checked') == true) {
                $(this).removeClass('checked')
                $('#female').addClass('checked');
            } else {
                $(this).addClass('checked');
                $('#female').removeClass('checked');
            }
            $('input[type="radio"]').each(function () {
                $(this).hasClass('checked') ? $(this).prop('checked', true) : $(this).prop('checked', false);
            });
        });
        $('#female').click(function () {
            if ($('#female').hasClass('checked') == true) {
                $('#female').removeClass('checked')
                $('#male').addClass('checked');
            } else {
                $('#female').addClass('checked');
                $('#male').removeClass('checked');
            }
            $('input[type="radio"]').each(function () {
                $(this).hasClass('checked') ? $(this).prop('checked', true) : $(this).prop('checked', false);
            });
        });
      
        $('#filename').val();
        });
    
    function validate() {
        
       var flag = true;
       
        if (($('#male').checked==false && $('#female').checked==false))
        {
            
            flag = false;
        }

        if ($('#hockey').checked==false && $('#chess').checked==false && $('#cricket').checked==false)
        {
           
            flag = false;
        }
        if($('#filename').files[0]==false)
        {
           
            flag = false;
        }
       
        if (flag === false) {
            alert("Enter all fields please");
            return false;
        }
        return true;

    }
    </script>
}

@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>NewUser</h2>

<div>
    <form   class="container" style="float:left;" action="~/User/NewUser" method="post" enctype="multipart/form-data" onsubmit="return validate();">
        <span style="color:red"> @ViewBag.error </span><br/>
        Name: <input class="form-control" type="text" id="name" name="name" value="@ViewBag.name" required/>
        Login: <input class="form-control" type="text" id="login" name="login" value="@ViewBag.login" required/> 
        Password: <input class="form-control" type="password" id="password" name="password" value="@ViewBag.pass" required/> 
       
        <br/>
        Gender: Male <input  type="radio" id="male" name="male" value="Male" class="@ViewBag.male" />
Female <input type="radio" id="female" name="female" value="Female" class="@ViewBag.female" />
        <br /><br />
        Address: <input class="form-control"  type="text" id="address" name="address" value="@ViewBag.address" required/>
        Age: <input class="form-control"  type="number" id="age" name="age" min="1" value="@ViewBag.age" required/>
        NiC: <input class="form-control"  type="number" id="nic" name="nic" maxlength="13" value="@ViewBag.nic" required/>
        DOB: <input class="form-control"  type="date" id="dob" name="dob"  value="@ViewBag.dob" required/>
        Sports: <input type="checkbox" id="hockey" name="hockey" value="Hockey"  @ViewBag.hockey/> Hockey
        <input  type="checkbox" id="chess" name="chess" value="Chess" @ViewBag.chess/> Chess
        <input  type="checkbox" id="cricket" name="cricket" value="Cricket" @ViewBag.cricket/> Cricket
        <br /><br />
       Image:  <input type="file" id="filename" name="filename" accept="image/jpeg, image/png" onchange="readURL(this);">
        <input class="form-control" style="display:inline" type="submit" id="create" name="create" value="@ViewBag.action" />
        <a href="~/User/Index"> <input class="form-control" style="display:inline" type="button" id="cancel" name="cancel" value="Cancel" /></a>
    </form>

<img style="float:right;" name="image" value="@ViewBag.img" id="myImg" src="~/Images/@ViewBag.img" alt="User Image" height="300" width="300" />
    </div>

