﻿
@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>
@{
    ViewBag.login = Session["user"];
}
<form method="post" action="~/User/Reset">
    Login: <input class="form-control" type="text" id="txtLogin" name="txtLogin" value="@ViewBag.login" readonly />
    New Password : <input class="form-control" type="password" id="txtPassword" name="txtPassword" required />
    <br /><input class="btn-block" type="submit" value="Change" id="change" name="change" />

</form>
