﻿
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHome</h2>

<h1> Welcome @ViewBag.username </h1>

    <img src="~/Images/@ViewBag.img" height="300" width="300" />



<form method="post" action="@Url.Content("~/User/UserHome")">
    <input type="hidden" id="login" name="login" value="@ViewBag.login"/>
    <input type="hidden" id="image" name="image" value="@ViewBag.img" />
    <input class="form-control" style="display:inline" type="submit" id="edit" name="edit" value="Edit Profile" />
    
</form>
<form method="get" action="@Url.Content("~/User/LoginScreen")">
    <input class="form-control" style="display:inline" type="submit" id="cancel" name="logout" value="LogOut" />
    </form>