﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   @RenderSection("script", false);
    @Styles.Render("~/Content/css")
   
</head>
<body>
   @RenderBody()
</body>
</html>
